<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="table-responsive" style="margin-top: 30px;">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-responsive">
        <thead>
        <tr>
          <th>Select</th>
          <th>Image</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Category</th>
          <th>Age Group</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of itemList">
          <td class="col-xs-1">
            <input type="checkbox" style="padding: 0px"
                   (change)="addToSelectedItemList($event.target.checked, item.itemId)"/>
          </td>
          <td class="col-md-2"><img class="img-responsive" src="{{item.imageUrl}}"></td>
          <td class="col-md-2">{{item.name}}</td>
          <td class="col-md-2">{{item.brand}}</td>
          <td class="col-md-2">{{item.category}}</td>
          <td class="col-md-1">{{item.agegroup}}</td>
          <td class="col-md-1 col-xs-1" style="font-weight: bold;">{{item.price | currency}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
